.navBar{
    height: 50px;
    background-color: maroon;
    margin-left:20px ;
    margin-right: 20px;
    position: sticky;
    top: 15px;


}


.navList{
    list-style-type: none;
}


.navItem a{
    color: white;
    float: left;
    width: 130px;
    padding:10px;
}

.navItem a:hover{
    text-decoration: none;
    cursor:pointer;
    color:tomato

}

.navItem a:active{
    font-weight: bold;

    

}

.selected{
    background-color:gray ;
    height: 50px;
}
.logout{
    float: right;
    margin-right: 10px;
    margin-top: 6.5px;
}