
.sidebar{
    width:170px;
    background-color:maroon;
    position: fixed;
    left: 20px;
    height: 100%;
}
.sidebar a{
    color: white;
    display: inline-block;
    padding: 10px;


    
}

.sidebar a:hover{
    text-decoration: none;
    cursor:pointer;
    color:tomato

}

.sidebar a:active{
    font-weight: bold;

    

}

.selectedSidebar{
    background-color: gray;
    width: 170px;
}



